:root{
    --fonte-principal:'Inter', sans-serif;
    --cinza: #667085;
    --vinho: #8E2424;
    --cinza2: #3A404E;
    --base: white;
    --azul-escuro: #101828;
    --vermelho-claro: rgba(142, 36, 36, 0.05);
    --fundo-rodape:#F9FAFB;
}

.margem{
    margin: 0 5rem 0 5rem;
}
/*cabeçalho*/
.entrar{
    text-decoration: none;
}

.cinza1{
    color: var(--cinza) !important;
}

.fonteTexto{
    font-family: var(--fonte-principal);
}

.titulo{
    font-size: 18px;
}

.cadastrar{
    background-color: var(--vinho);
    border: none;
    color: var(--base);
}

.botoes_telaMenor{
    display: none;
}

.cadastrar:hover{
    background-color: var(--vinho);
    color: var(--base);

}.cadastrar:active{
    background-color: rgb(105, 3, 3) !important;
    color: var(--base) !important;
}
/*banner1*/
.banner1{
    margin: 96px 0 96px 0;
}

.cor-vinho{
    color: var(--vinho);
}

.tamFonte48{
    font-size: 48px;
}

.txt-banner{
    color: var(--cinza);
    line-height: 30px;
    font-size: 20px;
    margin: 0 200px 0 200px;
}


/*banner2*/
.banner2{
    margin-bottom: 96px;
}

.estatisticas{
    width: 280px;
}

.tit_banner2{
    color: var(--vinho);
}

.txt-banner2{
    color: var(--azul-escuro);
    font-size: 18px;
    line-height: 24px; 
}

.paragrafo-banner2{
    font-size: 16px;
}

/*banner3*/
.banner3{
    margin: 64px 0 64px 0;
}

.borda-banner3{
    background: var(--vermelho-claro);
    border-radius: 16px;
    width: 150px;
    padding-top: 5px;
    height: 28px;
    margin: auto;
    vertical-align: center;
}

.tamFonte36{
    font-size: 36px;
}
/*banner4*/
.banner4{
    margin: 62px 256px;
}

.tit-vagas{
    margin-bottom: 32px;
    color: var(--azul-escuro);
}

.tit-cargo{
    margin-bottom: 32px;
    color: var(--azul-escuro);
}

.cx-vagas{
    padding: 24px 24px 28px 24px;
}

/*article*/
.opinioes{
    background-color: var(--vermelho-claro);
    margin-bottom: 96px;
}

.tit-opinioes{
    color: var(--vinho);
}

.txt-opinioes{
    width: auto;
    font-size: 36px;
    line-height: 44px;
}

.rodape{
    background-color: var(--fundo-rodape);
    padding: 96px 0 50px 0;
}

.largura-email{
    width: 360px;
}


@media (max-width:768px){
    .botoes_telaMenor{
        display: block;
        text-align: end;
    }
    .botoes{
        display: none;
    }
    .banner2{
        display: grid;
        ;
    }
    .txt-opinioes{
        font-size: 30px;
    }
    .txt-banner{
        margin: 0 60px 0 60px;
    }
    .banner4{
        margin: 62px 30px ;
    }
    .cx-vagas{
        margin: 0 10px;
    }
}

@media (max-width:425px){
    .banner4{
        margin: 62px 30px ;
    }
    .cx-vagas{
        margin: 0 10px;
    }
}
@media (min-width:320px){
    .cabecalho{
        margin: 0 1.25rem 0 1.25rem;
    }
}
